body, table td, select, button, input {
	font-family: Tahoma, Verdana, Bitstream Vera Sans, sans-serif !important;
	font-size: 14px !important;
}

.site-message {
	color:inherit;
	font-size:12px;
	font-family:arial;
}

.site-error {
	font-weight: bold;
	/* 	color: white; */
	margin-top: 19px;
	color: red;
}

/* .site-loginform { */
/* 	background-color: #BD1E47; */
/* 	padding: 21px 21px 30px; */
/* 	color: white; */
/* 	font-weight: bold; */
/* 	border: 3px solid #FFFFFF; */
/* 	border-radius: 10px; */
/* 	-moz-border-radius: 10px; */
/* 	-webkit-border-radius: 10px; */
/* 	box-shadow: 0 0 10px #AF1F43;	 */
/* } */
.site-loginform {
	background: #fff;
	border-radius: 2px;
	padding: 43px;
	box-shadow: 12px 12px 13px #A7A6A6;
	
}

#site-loginbutton>img:first-child {
	vertical-align: middle;
}

#site-loginbutton {
	font-size: larger !important;
}

.gwt-TextBox {
	border: 1px solid #999999;
}

.gwt-PasswordTextBox {
	border: 1px solid #999999;
}

.site-face {
	background-color: #3B5998;
	font-weight: bold;
	color: white;
	font-size: 1.2em !important;
	border: none !important;
	border-radius:4px;
}

.site-face:hover {
	cursor:pointer;
	background-image: linear-gradient(to bottom, #2A519E, #5773AD);
}


hr {
	margin: 21px 0;
}

.gwt-Button {
	vertical-align: bottom;
}

.fancy {
	position: relative;
	padding: 18px 0;
	font-size: 12px;
	font-family: arial;
}

.fancy span:before {
	left: 0;
}

.fancy span:before, .fancy span:after {
	content: "";
	position: absolute;
	height: 1px;
	border-top: 1px solid #dddddd;
	top: 21px;
	width: 130px;
}

.fancy span:after {
	right: 0;
}

.site-box {
	height: 24px;
}

.site-label {
	font-family: arial;
}