body,table td,select,button {
	
	font-family: Tahoma, Verdana, Bitstream Vera Sans, sans-serif !important;
	font-size: 13px !important;
}

body {
  overflow: hidden;
}

h5 {
	margin: 0 0 2px;
	padding: 0;
	color:#3F4041;
	font-size: 11px !important;
}

.site-btn {
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    border: 1px solid #DADADA;
    border-radius: 4px 4px 4px 4px;
    color: #404040;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 12px;
    text-align: center;

}


.site-text {
    color: #555555;
    display: inline-block;
    font-size: 13px;
    height: 20px;
    line-height: 20px;
    margin-bottom: 5px;
    padding: 4px 6px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.site-msg {
/*     background: none repeat scroll 0 0 #FFFFC5; */
/*     box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15); */
/*     color: #282828; */
/*     font-size: 10.5px; */
/*     padding: 3px 7px; */
	position:absolute;
}

.site-holder {
	padding:10px 2px;
} 

.site-relative {
	position:relative;
} 

.site-fancywarn {
	opacity: 0.87; 
	margin-top: -30px;
	padding-bottom: 13px;
    z-index: 9999;
    position: absolute;
}

.site-warncontent {
	background: none repeat scroll 0 0 #FFFFC5;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 6px #000000;
    color: #282828;
    font-family: tahoma;
    font-size: 11px;
    padding: 8px 10px;
    width: 150px;
}


.site-warnarrow {
	position: absolute;
	bottom: 0;
    height: 15px;
    left: 20px;    
    width: 15px;
    z-index: 5001;	
}

.site-warnarrow div {
    background: none repeat scroll 0 0 #FFFFC5;
    box-shadow: 0 2px 3px #444444;
    display: block;
    font-size: 0;
    height: 1px;
    line-height: 0;
    margin: 0 auto;
}


.site-warnarrow .line10 {
    width: 15px;
}
.site-warnarrow .line9 {
    width: 13px;
}
.site-warnarrow .line8 {
    width: 11px;
}
.site-warnarrow .line7 {
    width: 9px;
}
.site-warnarrow .line6 {
    width: 7px;
}
.site-warnarrow .line5 {
    width: 5px;
}
.site-warnarrow .line4 {
    width: 3px;
}
.site-warnarrow .line3 {
    width: 1px;
}
.site-warnarrow .line2 {
    width: 0px;
}
.site-warnarrow .line1 {
    width: 0px;
}

