.site-actionbar {
	border-collapse: collapse;
	background-color: #424242;
	position: fixed;
	color: white;
}



input[type="radio" i] {
	vertical-align:text-bottom;
}

.site-dlg {
	background-color: white;
	border: 1px solid #d2d2d2;
	font-family: Tahoma, Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 12px;
	border-radius: 4px;
	border: 2px solid #434343;
	margin: 4px;
}

.site-center {
	margin: 0 auto;
}

.site-chatdlg {
	background-color: white;
	border: 1px solid #d2d2d2;
	font-family: Tahoma, Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 12px;
	border-radius: 4px;
	border: 2px solid #434343;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.site-chatdlgin {
	padding: 6px;
}

.site-chatdlgout {
	margin: 4px;
}

.site-chatdlgheader {
	font-size: 13px;
	padding: 4px 15px;
	background-color: #434343;
	color: white;
	font-weight: bold;
}

.site-chat-history {
	overflow-y: scroll !important;
	border: 1px solid #bcbcbc !important;
	height: calc(100% - 123px);
	min-height: 191px;
	background-color: #dbdfe6;
	width: 184px;
	max-width: 99%;
}

.site-closebutton {
	position: absolute;
	top: 0px;
	right: 1px;
	width: 21px;
	height: 23px;
	display: block;
	text-indent: -9999px;
	border-width: 0;
	background: transparent url(/_local/images/common/close_white.png)
		no-repeat center center;
}

.site-minimize {
	position: absolute;
	top: 2px;
	right: 18px;
	width: 24px;
	height: 23px;
	display: block;
	text-indent: -9999px;
	border-width: 0;
	background: transparent url(/_local/images/common/minus.png) no-repeat
		center center;
	z-index: 3000;
}

.site-maximize {
	position: absolute;
	top: 0px;
	right: 18px;
	width: 24px;
	height: 23px;
	display: block;
	text-indent: -9999px;
	border-width: 0;
	background: transparent url(/_local/images/common/max.png) no-repeat
		center center;
	z-index: 3000;
}

.site-settings {
	position: absolute;
	top: 0px;
	right: 18px;
	width: 24px;
	height: 23px;
	display: block;
	text-indent: -9999px;
	border-width: 0;
	background: transparent url(/_local/images/common/gear_white_16.png)
		no-repeat center center;
	z-index: 3000;
}

.site-chat-sent {
	float: right;
	padding: 0 5px;
	margin: 3px 0;
}

.site-chat-body {
	border: 1px solid #AAAEB9;
	padding: 5px;
	word-break: break-word;
}

.site-chat-sent .site-chat-body {
	background-color: #c5cad8;
}

.site-chat-incoming .site-chat-body {
	background-color: #dce2f4;
}

.site-arrow-sent {
	top: 50%;
	margin-top: -5px;
	border-width: 5px 0 5px 5px;
	border-color: transparent transparent transparent #AAAEB9;
	border-style: solid;
	position: absolute;
	right: 0;
}
/*-----*/
.site-chat-incoming {
	float: left;
	padding: 0 5px;
	margin: 3px 0;
}

.site-arrow-incoming {
	top: 50%;
	margin-top: -5px;
	border-width: 5px 5px 5px 0;
	border-color: transparent #AAAEB9 transparent transparent;
	border-style: solid;
	position: absolute;
	left: 0;
}

.site-chatline {
	width: 100%;
	display: table;
}

.gwt-TextArea {
	border: 1px solid #bcbcbc !important;
}

.gwt-MenuBar-vertical {
	background: none repeat scroll 0 0 #EDEDED;
	padding: 0 4px;
}

.gwt-MenuBarPopup {
	margin: 0 !important;
	z-index: 10000003;
}

.gwt-MenuBar-horizontal {
	background: #ebebeb url(images/hborder.png) repeat-x 0px -2003px;
	border: 1px solid #BBBBBB;
}

.gwt-MenuBar-vertical .gwt-MenuItem {
	padding: 2px 10px 4px 10px !important;
	border: 1px solid #bbbbbb;
}

.gwt-MenuBar {
	cursor: default;
}

.gwt-MenuBar .gwt-MenuItem {
	cursor: default;
}

.gwt-MenuBar .gwt-MenuItem-selected {
	background: #cdcdcd;
}

.gwt-MenuBar .gwt-MenuItem-disabled {
	color: #cdcdcd;
}

.gwt-MenuBar-horizontal {
	background: #ebebeb url(images/hborder.png) repeat-x 0px -2003px;
	border: 1px solid #BBBBBB;
}

.gwt-MenuBar-horizontal .gwt-MenuItem {
	padding: 0px 10px;
	vertical-align: bottom;
	color: #666666;
	font-weight: bold;
}

.gwt-MenuBar-horizontal .gwt-MenuItemSeparator {
	width: 1px;
	padding: 0px;
	margin: 0px;
	border: 0px;
	border-left: 1px solid #888888;
	background: white;
}

.gwt-MenuBar-horizontal .gwt-MenuItemSeparator .menuSeparatorInner {
	width: 1px;
	height: 1px;
	background: white;
}

.gwt-MenuBar-vertical {
	margin-top: 0px;
	margin-left: 0px;
	background: white;
}

.gwt-MenuBar-vertical table {
	border-collapse: collapse;
}

.gwt-MenuBar-vertical .gwt-MenuItem {
	padding: 4px 14px 4px 1px;
}

.gwt-MenuBar-vertical .gwt-MenuItemSeparator {
	padding: 2px 0px;
}

.gwt-MenuBar-vertical .gwt-MenuItemSeparator .menuSeparatorInner {
	height: 1px;
	padding: 0px;
	border: 0px;
	border-top: 1px solid #777777;
	background: #ddddee;
	overflow: hidden;
}

.gwt-MenuBar-vertical .subMenuIcon {
	padding-right: 4px;
}

.gwt-MenuBar-vertical .subMenuIcon-selected {
	background: #cdcdcd;
}

.gwt-MenuBarPopup .menuPopupTopCenter {
	background: url(images/hborder.png) 0px -12px repeat-x;
}

.gwt-MenuBarPopup .menuPopupBottomCenter {
	background: url(images/hborder.png) 0px -13px repeat-x;
}

.gwt-MenuBarPopup .menuPopupMiddleLeft {
	background: url(images/vborder.png) -12px 0px repeat-y;
}

.gwt-MenuBarPopup .menuPopupMiddleRight {
	background: url(images/vborder.png) -13px 0px repeat-y;
}

.gwt-MenuBarPopup .menuPopupTopLeftInner {
	width: 5px;
	height: 5px;
	zoom: 1;
}

.gwt-MenuBarPopup .menuPopupTopRightInner {
	width: 8px;
	height: 5px;
	zoom: 1;
}

.gwt-MenuBarPopup .menuPopupBottomLeftInner {
	width: 5px;
	height: 8px;
	zoom: 1;
}

.gwt-MenuBarPopup .menuPopupBottomRightInner {
	width: 8px;
	height: 8px;
	zoom: 1;
}

.gwt-MenuBarPopup .menuPopupTopLeft {
	background: url(images/corner.png) no-repeat 0px -36px;
}

.gwt-MenuBarPopup .menuPopupTopRight {
	background: url(images/corner.png) no-repeat -5px -36px;
}

.gwt-MenuBarPopup .menuPopupBottomLeft {
	background: url(images/corner.png) no-repeat 0px -41px;
}

.gwt-MenuBarPopup .menuPopupBottomRight {
	background: url(images/corner.png) no-repeat -5px -41px;
}

tr.site-list td {
	border-bottom: 1px solid #dedede;
}

.cell {
	padding: 4px 6px;
	height: 44px;
	line-height: 44px;
}

.grey {
	background-color: #e6e6e6;
}

.cell-header {
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	padding: 8px 20px 12px;
	border-bottom: 1px solid #CDCCCC;
}

.cell-text {
	
}

.cell-number {
	text-align: right;
}

.cell-bold {
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	padding: 10px 0;
}

.site-btn { /*border: 1px outset #CCCCCC;*/
	background-color: #F5F5F5;
	background-image: linear-gradient(to bottom, #f7f7f7, #CDCDCD);
	border: 1px solid #B3A7A7;
	border-radius: 4px;
	color: #404040;
	cursor: pointer;
	font-weight: bold;
	padding: 5px 12px;
	text-align: center;
	margin-left: 4px;
	font-size: 14px;
	overflow: hidden;
	min-height: 16px;
}

.site-btn.disabled {
    cursor: default;
    border-bottom: 1px outset #CCCCCC;
    background-image: linear-gradient(to bottom, #E6E6E6, #FFFFFF);
}

.row {
	padding: 10px !important; 	
}

.row-odd {
	background-color: #d1d4da;
	padding: 2px;
}

.row-even {
	padding: 2px;
}

.selectedRow {
	background: none repeat scroll 0 0 #D9EE7B !important;
}

.site-btn:hover {
	border: 1px outset #CCCCCC;
	background-image: linear-gradient(to bottom, #E6E6E6, #FFFFFF);
}

.site-img:hover {
	background-color: antiquewhite;
}

.site-bigbtn {
	font-size: 20px !important;
}

.btn-smllr {
	width: 20px;
	height: 20px;
	padding: 0 !important;
}

.btn-big {
	font-size: 20px !important;
}

.site-text {
	font-family: Tahoma, Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 12px;
}

.site-toolbar {
	padding: 4px 0;
	background: #c7c7c7;
}

.site-img {
	border: 1px solid #CCCCCC;
	background-color: white;
	padding: 6px;
	border-radius: 3px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.site-img-cell {
	display: inline-block;
	/* 	float: left; */
	min-width: 160px;
}

.site-img-pad {
	padding: 10px 0 10px 0;
	/* 	height: 192px; */
}

.site-img-desc {
	color: #696969;
	text-decoration: none;
	width: 188px;
	text-align: center;
	/* 	height: 6em; */
	overflow: hidden;
}

.GPBYFDEAB {
	display: inline-block;
}

.GPBYFDECB {
	display: inline-block;
}

.com-google-gwt-user-cellview-client-CellList-Style-cellListOddItem {
	display: inline-block;
}

.com-google-gwt-user-cellview-client-CellList-Style-cellListEvenItem {
	display: inline-block;
}

.com-google-gwt-user-cellview-client-CellTable-Style-cellTableCell {
	padding: 2px !important;
}

.site-left {
	float: left;
}

.site-layer2 {
	z-index: 1000003;
}

.canvas-holder {
	border: 1px solid #BCBCBC;
}

.form-header {
	border-bottom: 1px solid #DADADA;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	border-radius: 3px 3px 0 0;
	background-color: #3f4444;
	color: white;
}

.site-form {
	border: 1px solid #3f4444;
	margin: 10px 0;
	border-radius: 3px 3px 0 0;
	width: 100%;
	height: 180px;
	background-color: white;
}

.site-padding {
	padding: 10px;
}

.site-list {
	background-color: #F5F5F5;
	background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
	border: 1px solid #DADADA;
	cursor: pointer;
	padding: 0;
	text-align: center;
	overflow: hidden;
}

.site-fancybutton {
	width: 100%;
	background-color: #009EDB;
	background: -webkit-linear-gradient(top, #00A4DD 0%, #0099D9 100%);
	background: -moz-linear-gradient(top, #00A4DD 0%, #0099D9 100%);
	background: -o-linear-gradient(top, #00A4DD 0%, #0099D9 100%);
	background: -ms-linear-gradient(top, #00A4DD 0%, #0099D9 100%);
	background: linear-gradient(top, #00A4DD 0%, #0099D9 100%);
	color: white;
}

.gwt-PopupPanelGlass {
	background-color: #000;
	opacity: 0.3;
	filter: alpha(opacity = 30);
}

.gwt-SplitLayoutPanel-VDragger {
	background: red url(/_public/images/bar/splitPanelThumb.png) center
		center no-repeat;
	cursor: row-resize;
}

.gwt-SplitLayoutPanel-HDragger {
	background: red url(/_public/images/bar/splitPanelThumb.png) center
		center no-repeat;
	cursor: col-resize;
}

.btn-fancy {
	background: #FFC708;
	padding: 9px 10px;
	text-align: center;
	background-image: linear-gradient(to bottom, #F1D790, #ffc708);
}

.btn-fancy:hover {
	background-image: linear-gradient(to bottom, #ffc708, #F1D790);
	border-radius: 4px !important;
}

.site-label {
	font-size: 12px;
	font-weight: bold;
	margin: 13px 0 0 3px;
}

.site-header3 {
	margin: 6px 0 12px;
	padding: 0;
	width: 195px;
	font-size: 16px;
	overflow: hidden;
	font-weight: bold;
}

.site-statusbar {
	background-color: #FFD76E;
	padding: 2px 4px;
	color: black;
	display: inline-block;
}

.site-statuserror {
	background-color: #E04006;
	padding: 2px 4px;
	color: black;
	font-weight: bold;
	border: 1px solid #E1BA53;
}

@font-face {
	font-family: 'BreeSerif-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/BreeSerif-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Aaargh';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Aaargh.woff') format('woff');
}

@font-face {
	font-family: 'ArchivoNarrow-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/ArchivoNarrow-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Cutive-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Cutive-Regular.woff') format('woff');
}

@font-face {
	font-family: 'FallingSkySeBd';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/FallingSkySeBd.woff') format('woff');
}

@font-face {
	font-family: 'KGHAPPY';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/KGHAPPY.woff') format('woff');
}

@font-face {
	font-family: 'PfefferSimpelgotischhalbfett';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/PfefferSimpelgotischhalbfett.woff') format('woff');
}

@font-face {
	font-family: 'WaitingfortheSunrise';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/WaitingfortheSunrise.woff') format('woff');
}

@font-face {
	font-family: 'Akaju_demo';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Akaju_demo.woff') format('woff');
}

@font-face {
	font-family: 'Audiowide-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Audiowide-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Devonshire-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Devonshire-Regular.woff') format('woff');
}

@font-face {
	font-family: 'FallingSky';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/FallingSky.woff') format('woff');
}

@font-face {
	font-family: 'LaBelleAurore';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/LaBelleAurore.woff') format('woff');
}

@font-face {
	font-family: 'PfefferSimpelgotischnormal';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/PfefferSimpelgotischnormal.woff') format('woff');
}

@font-face {
	font-family: 'WarsawGothic3DObl';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/WarsawGothic3DObl.woff') format('woff');
}

@font-face {
	font-family: 'Akaju_Outline_demo';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Akaju_Outline_demo.woff') format('woff');
}

@font-face {
	font-family: 'AutourOne-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/AutourOne-Regular.woff') format('woff');
}

@font-face {
	font-family: 'DJBILoveaGinger';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/DJBILoveaGinger.woff') format('woff');
}

@font-face {
	font-family: 'FascinateInline-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/FascinateInline-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Lobster';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Lobster.woff') format('woff');
}

@font-face {
	font-family: 'Plaster-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Plaster-Regular.woff') format('woff');
}

@font-face {
	font-family: 'WarsawGothic3D';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/WarsawGothic3D.woff') format('woff');
}

@font-face {
	font-family: 'Akaju_Shine_demo';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Akaju_Shine_demo.woff') format('woff');
}

@font-face {
	font-family: 'AveFedan';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/AveFedan.woff') format('woff');
}

@font-face {
	font-family: 'Dynalight-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Dynalight-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Fascinate-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Fascinate-Regular.woff') format('woff');
}

@font-face {
	font-family: 'LovedbytheKing';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/LovedbytheKing.woff') format('woff');
}

@font-face {
	font-family: 'PressStart2P-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/PressStart2P-Regular.woff') format('woff');
}

@font-face {
	font-family: 'WarsawGothicCondObl';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/WarsawGothicCondObl.woff') format('woff');
}

@font-face {
	font-family: 'Akaju_Thin_demo';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Akaju_Thin_demo.woff') format('woff');
}

@font-face {
	font-family: 'Back-to-Black-Demo';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Back-to-Black-Demo.woff') format('woff');
}

@font-face {
	font-family: 'EagleLake-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/EagleLake-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Feathergraphy2';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Feathergraphy2.woff') format('woff');
}

@font-face {
	font-family: 'LoveYaLikeASisterSolid';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/LoveYaLikeASisterSolid.woff') format('woff');
}

@font-face {
	font-family: 'Quando-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Quando-Regular.woff') format('woff');
}

@font-face {
	font-family: 'WarsawGothicCond';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/WarsawGothicCond.woff') format('woff');
}

@font-face {
	font-family: 'Alegreya-BlackItalic';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Alegreya-BlackItalic.woff') format('woff');
}

@font-face {
	font-family: 'BerkshireSwash-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/BerkshireSwash-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Eater-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Eater-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Fondamento-Italic';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Fondamento-Italic.woff') format('woff');
}

@font-face {
	font-family: 'LoveYaLikeASister';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/LoveYaLikeASister.woff') format('woff');
}

@font-face {
	font-family: 'RammettoOne-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/RammettoOne-Regular.woff') format('woff');
}

@font-face {
	font-family: 'WarsawGothicExt3DObl';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/WarsawGothicExt3DObl.woff') format('woff');
}

@font-face {
	font-family: 'Alegreya-Black';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Alegreya-Black.woff') format('woff');
}

@font-face {
	font-family: 'BEYONDSKTRIAL';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/BEYONDSKTRIAL.woff') format('woff');
}

@font-face {
	font-family: 'EmblemaOne-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/EmblemaOne-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Fondamento-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Fondamento-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Margarine-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Margarine-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Ranchers-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Ranchers-Regular.woff') format('woff');
}

@font-face {
	font-family: 'WarsawGothicExt3D';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/WarsawGothicExt3D.woff') format('woff');
}

@font-face {
	font-family: 'Alegreya-BoldItalic';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Alegreya-BoldItalic.woff') format('woff');
}

@font-face {
	font-family: 'BigelowRules-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/BigelowRules-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Engagement-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Engagement-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Marmelad-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Marmelad-Regular.woff') format('woff');
}

@font-face {
	font-family: 'RibeyeMarrow-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/RibeyeMarrow-Regular.woff') format('woff');
}

@font-face {
	font-family: 'WarsawGothicExtObl';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/WarsawGothicExtObl.woff') format('woff');
}

@font-face {
	font-family: 'Alegreya-Bold';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Alegreya-Bold.woff') format('woff');
}

@font-face {
	font-family: 'BlackOpsOne-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/BlackOpsOne-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Enriqueta-Bold';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Enriqueta-Bold.woff') format('woff');
}

@font-face {
	font-family: 'FreckleFace-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/FreckleFace-Regular.woff') format('woff');
}

@font-face {
	font-family: 'McLaren-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/McLaren-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Ribeye-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Ribeye-Regular.woff') format('woff');
}

@font-face {
	font-family: 'WarsawGothicExtOuLnObl';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/WarsawGothicExtOuLnObl.woff') format('woff');
}

@font-face {
	font-family: 'Alegreya-Italic';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Alegreya-Italic.woff') format('woff');
}

@font-face {
	font-family: 'Bleeding-Cowboys';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Bleeding-Cowboys.woff') format('woff');
}

@font-face {
	font-family: 'Enriqueta-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Enriqueta-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Fujita-Ray';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Fujita-Ray.woff') format('woff');
}

@font-face {
	font-family: 'MedievalSharp-BoldOblique';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/MedievalSharp-BoldOblique.woff') format('woff');
}

@font-face {
	font-family: 'Risque-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Risque-Regular.woff') format('woff');
}

@font-face {
	font-family: 'WarsawGothicExtOuLn';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/WarsawGothicExtOuLn.woff') format('woff');
}

@font-face {
	font-family: 'Alegreya-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Alegreya-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Boogaloo-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Boogaloo-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Fake-Smiths';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Fake-Smiths.woff') format('woff');
}

@font-face {
	font-family: 'Galindo-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Galindo-Regular.woff') format('woff');
}

@font-face {
	font-family: 'MedievalSharp-Bold';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/MedievalSharp-Bold.woff') format('woff');
}

@font-face {
	font-family: 'RumRaisin-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/RumRaisin-Regular.woff') format('woff');
}

@font-face {
	font-family: 'WarsawGothicExtShdObl';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/WarsawGothicExtShdObl.woff') format('woff');
}

@font-face {
	font-family: 'AllAges_BOLD';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/AllAges_BOLD.woff') format('woff');
}

@font-face {
	font-family: 'Bulgaria-Moderna-V3';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Bulgaria-Moderna-V3.woff') format('woff');
}

@font-face {
	font-family: 'FallingSkyBd+Obl';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/FallingSkyBd+Obl.woff') format('woff');
}

@font-face {
	font-family: 'GiveYouGlory';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/GiveYouGlory.woff') format('woff');
}

@font-face {
	font-family: 'MedievalSharp-Oblique';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/MedievalSharp-Oblique.woff') format('woff');
}

@font-face {
	font-family: 'Sacramento-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Sacramento-Regular.woff') format('woff');
}

@font-face {
	font-family: 'WarsawGothicExtShd';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/WarsawGothicExtShd.woff') format('woff');
}

@font-face {
	font-family: 'Allura-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Allura-Regular.woff') format('woff');
}

@font-face {
	font-family: 'CANDY___';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/CANDY___.woff') format('woff');
}

@font-face {
	font-family: 'FallingSkyBdObl';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/FallingSkyBdObl.woff') format('woff');
}

@font-face {
	font-family: 'GlassAntiqua-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/GlassAntiqua-Regular.woff') format('woff');
}

@font-face {
	font-family: 'MedievalSharp';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/MedievalSharp.woff') format('woff');
}

@font-face {
	font-family: 'Sarina-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Sarina-Regular.woff') format('woff');
}

@font-face {
	font-family: 'WarsawGothicExt';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/WarsawGothicExt.woff') format('woff');
}

@font-face {
	font-family: 'Almendra-BoldItalic';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Almendra-BoldItalic.woff') format('woff');
}

@font-face {
	font-family: 'Caveat-Bold';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Caveat-Bold.woff') format('woff');
}

@font-face {
	font-family: 'FallingSkyBd';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/FallingSkyBd.woff') format('woff');
}

@font-face {
	font-family: 'gloriahallelujah';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/gloriahallelujah.woff') format('woff');
}

@font-face {
	font-family: 'Metamorphous-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Metamorphous-Regular.woff') format('woff');
}

@font-face {
	font-family: 'ShadowsIntoLight';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/ShadowsIntoLight.woff') format('woff');
}

@font-face {
	font-family: 'WarsawGothicObl';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/WarsawGothicObl.woff') format('woff');
}

@font-face {
	font-family: 'Almendra-Bold';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Almendra-Bold.woff') format('woff');
}

@font-face {
	font-family: 'CaveatBrush-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/CaveatBrush-Regular.woff') format('woff');
}

@font-face {
	font-family: 'FallingSkyBd+';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/FallingSkyBd+.woff') format('woff');
}

@font-face {
	font-family: 'GrandHotel-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/GrandHotel-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Milonga-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Milonga-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Smokum-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Smokum-Regular.woff') format('woff');
}

@font-face {
	font-family: 'WarsawGothicOuLnObl';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/WarsawGothicOuLnObl.woff') format('woff');
}

@font-face {
	font-family: 'Almendra-Italic';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Almendra-Italic.woff') format('woff');
}

@font-face {
	font-family: 'Caveat-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Caveat-Regular.woff') format('woff');
}

@font-face {
	font-family: 'FallingSkyBlkObl';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/FallingSkyBlkObl.woff') format('woff');
}

@font-face {
	font-family: 'GreatVibes-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/GreatVibes-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Mochary';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Mochary.woff') format('woff');
}

@font-face {
	font-family: 'SonsieOne-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/SonsieOne-Regular.woff') format('woff');
}

@font-face {
	font-family: 'WarsawGothicOuLn';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/WarsawGothicOuLn.woff') format('woff');
}

@font-face {
	font-family: 'Almendra-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Almendra-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Cedarville-Cursive';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Cedarville-Cursive.woff') format('woff');
}

@font-face {
	font-family: 'FallingSkyBlk';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/FallingSkyBlk.woff') format('woff');
}

@font-face {
	font-family: 'HeadlandOne-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/HeadlandOne-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Montez-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Montez-Regular.woff') format('woff');
}

@font-face {
	font-family: 'SpicyRice-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/SpicyRice-Regular.woff') format('woff');
}

@font-face {
	font-family: 'WarsawGothicShdObl';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/WarsawGothicShdObl.woff') format('woff');
}

@font-face {
	font-family: 'Amarante-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Amarante-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Charakterny';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Charakterny.woff') format('woff');
}

@font-face {
	font-family: 'FallingSkyCondObl';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/FallingSkyCondObl.woff') format('woff');
}

@font-face {
	font-family: 'StintUltraCondensed-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/StintUltraCondensed-Regular.woff') format('woff');
}

@font-face {
	font-family: 'WarsawGothicShd';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/WarsawGothicShd.woff') format('woff');
}

@font-face {
	font-family: 'AmaticSC-Bold';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/AmaticSC-Bold.woff') format('woff');
}

@font-face {
	font-family: 'ClickerScript-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/ClickerScript-Regular.woff') format('woff');
}

@font-face {
	font-family: 'FallingSkyCondOuObl';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/FallingSkyCondOuObl.woff') format('woff');
}

@font-face {
	font-family: 'MouseMemoirs-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/MouseMemoirs-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Stoke-Light';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Stoke-Light.woff') format('woff');
}

@font-face {
	font-family: 'WarsawGothicSuExt3DObl';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/WarsawGothicSuExt3DObl.woff') format('woff');
}

@font-face {
	font-family: 'AmaticSC-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/AmaticSC-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Coda-Caption-Heavy';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Coda-Caption-Heavy.woff') format('woff');
}

@font-face {
	font-family: 'FallingSkyCondOu';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/FallingSkyCondOu.woff') format('woff');
}

@font-face {
	font-family: 'HussarGothicObl';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/HussarGothicObl.woff') format('woff');
}

@font-face {
	font-family: 'NewRocker-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/NewRocker-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Stoke-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Stoke-Regular.woff') format('woff');
}

@font-face {
	font-family: 'WarsawGothicSuExt3D';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/WarsawGothicSuExt3D.woff') format('woff');
}

@font-face {
	font-family: 'Andada-BoldItalic';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Andada-BoldItalic.woff') format('woff');
}

@font-face {
	font-family: 'Coda-Heavy';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Coda-Heavy.woff') format('woff');
}

@font-face {
	font-family: 'FallingSkyCond';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/FallingSkyCond.woff') format('woff');
}

@font-face {
	font-family: 'HussarGothic';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/HussarGothic.woff') format('woff');
}

@font-face {
	font-family: 'Nosifer-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Nosifer-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Sue-Ellen-Francisco';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Sue-Ellen-Francisco.woff') format('woff');
}

@font-face {
	font-family: 'WarsawGothicSuExtObl';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/WarsawGothicSuExtObl.woff') format('woff');
}

@font-face {
	font-family: 'Andada-Bold';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Andada-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Coda-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Coda-Regular.woff') format('woff');
}

@font-face {
	font-family: 'FallingSkyExBdObl';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/FallingSkyExBdObl.woff') format('woff');
}

@font-face {
	font-family: 'IMFePIit29P';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/IMFePIit29P.woff') format('woff');
}

@font-face {
	font-family: 'Notera_PersonalUseOnly';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Notera_PersonalUseOnly.woff') format('woff');
}

@font-face {
	font-family: 'Sumana-Bold';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Sumana-Bold.woff') format('woff');
}

@font-face {
	font-family: 'WarsawGothicSuExtShdObl';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/WarsawGothicSuExtShdObl.woff') format('woff');
}

@font-face {
	font-family: 'Andada-Italic';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Andada-Italic.woff') format('woff');
}

@font-face {
	font-family: 'Combo-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Combo-Regular.woff') format('woff');
}

@font-face {
	font-family: 'FallingSkyExBd';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/FallingSkyExBd.woff') format('woff');
}

@font-face {
	font-family: 'IMFePIrm29P';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/IMFePIrm29P.woff') format('woff');
}

@font-face {
	font-family: 'NothingYouCouldDo';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/NothingYouCouldDo.woff') format('woff');
}

@font-face {
	font-family: 'Sumana-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Sumana-Regular.woff') format('woff');
}

@font-face {
	font-family: 'WarsawGothicSuExtShd';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/WarsawGothicSuExtShd.woff') format('woff');
}

@font-face {
	font-family: 'Andada-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Andada-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Comfortaa-Bold';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Comfortaa-Bold.woff') format('woff');
}

@font-face {
	font-family: 'FallingSkyExtObl';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/FallingSkyExtObl.woff') format('woff');
}

@font-face {
	font-family: 'IMFePIsc29P';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/IMFePIsc29P.woff') format('woff');
}

@font-face {
	font-family: 'Oldenburg-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Oldenburg-Regular.woff') format('woff');
}

@font-face {
	font-family: 'SupermercadoOne-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/SupermercadoOne-Regular.woff') format('woff');
}

@font-face {
	font-family: 'WarsawGothicSuExt';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/WarsawGothicSuExt.woff') format('woff');
}

@font-face {
	font-family: 'AndadaSC-BoldItalic';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/AndadaSC-BoldItalic.woff') format('woff');
}

@font-face {
	font-family: 'Comfortaa-Light';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Comfortaa-Light.woff') format('woff');
}

@font-face {
	font-family: 'FallingSkyExtOuObl';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/FallingSkyExtOuObl.woff') format('woff');
}

@font-face {
	font-family: 'IndieFlower';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/IndieFlower.woff') format('woff');
}

@font-face {
	font-family: 'Oranienbaum';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Oranienbaum.woff') format('woff');
}

@font-face {
	font-family: 'Swanky-and-Moo-Moo';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Swanky-and-Moo-Moo.woff') format('woff');
}

@font-face {
	font-family: 'WarsawGothic';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/WarsawGothic.woff') format('woff');
}

@font-face {
	font-family: 'AndadaSC-Bold';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/AndadaSC-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Comfortaa-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Comfortaa-Regular.woff') format('woff');
}

@font-face {
	font-family: 'FallingSkyExtOu';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/FallingSkyExtOu.woff') format('woff');
}

@font-face {
	font-family: 'Isabella';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Isabella.woff') format('woff');
}

@font-face {
	font-family: 'Oregano-Italic';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Oregano-Italic.woff') format('woff');
}

@font-face {
	font-family: 'THEDREAM';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/THEDREAM.woff') format('woff');
}

@font-face {
	font-family: 'WarsawGothicWoodtypeObl';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/WarsawGothicWoodtypeObl.woff') format('woff');
}

@font-face {
	font-family: 'AndadaSC-Italic';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/AndadaSC-Italic.woff') format('woff');
}

@font-face {
	font-family: 'comic2';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/comic2.woff') format('woff');
}

@font-face {
	font-family: 'FallingSkyExt';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/FallingSkyExt.woff') format('woff');
}

@font-face {
	font-family: 'JimNightshade-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/JimNightshade-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Oregano-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Oregano-Regular.woff') format('woff');
}

@font-face {
	font-family: 'ttfs';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/ttfs') format('woff');
}

@font-face {
	font-family: 'WarsawGothicWoodtype';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/WarsawGothicWoodtype.woff') format('woff');
}

@font-face {
	font-family: 'AndadaSC-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/AndadaSC-Regular.woff') format('woff');
}

@font-face {
	font-family: 'comic';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/comic.woff') format('woff');
}

@font-face {
	font-family: 'FallingSkyLightObl';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/FallingSkyLightObl.woff') format('woff');
}

@font-face {
	font-family: 'JotiOne-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/JotiOne-Regular.woff') format('woff');
}

@font-face {
	font-family: 'OriginalSurfer-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/OriginalSurfer-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Ultra';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Ultra.woff') format('woff');
}

@font-face {
	font-family: 'Wellfleet-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Wellfleet-Regular.woff') format('woff');
}

@font-face {
	font-family: 'AnnieUseYourTelescope';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/AnnieUseYourTelescope.woff') format('woff');
}

@font-face {
	font-family: 'Corben-Bold';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Corben-Bold.woff') format('woff');
}

@font-face {
	font-family: 'FallingSkyLight';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/FallingSkyLight.woff') format('woff');
}

@font-face {
	font-family: 'JustAnotherHand';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/JustAnotherHand.woff') format('woff');
}

@font-face {
	font-family: 'OvertheRainbow';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/OvertheRainbow.woff') format('woff');
}

@font-face {
	font-family: 'UncialAntiqua-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/UncialAntiqua-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Xiomara-Script';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Xiomara-Script.woff') format('woff');
}

@font-face {
	font-family: 'ArbutusSlab-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/ArbutusSlab-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Corben-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Corben-Regular.woff') format('woff');
}

@font-face {
	font-family: 'FallingSkyMedObl';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/FallingSkyMedObl.woff') format('woff');
}

@font-face {
	font-family: 'JustMeAgainDownHere';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/JustMeAgainDownHere.woff') format('woff');
}

@font-face {
	font-family: 'PatrickHand-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/PatrickHand-Regular.woff') format('woff');
}

@font-face {
	font-family: 'UnifrakturMaguntia-Book';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/UnifrakturMaguntia-Book.woff') format('woff');
}

@font-face {
	font-family: 'Xolonium-Bold';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Xolonium-Bold.woff') format('woff');
}

@font-face {
	font-family: 'ArchitectsDaughter';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/ArchitectsDaughter.woff') format('woff');
}

@font-face {
	font-family: 'Coustard-Black';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Coustard-Black.woff') format('woff');
}

@font-face {
	font-family: 'FallingSkyMed';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/FallingSkyMed.woff') format('woff');
}

@font-face {
	font-family: 'Kalam-Light';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Kalam-Light.woff') format('woff');
}

@font-face {
	font-family: 'PatrickHandSC-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/PatrickHandSC-Regular.woff') format('woff');
}

@font-face {
	font-family: 'UrbanJungleDEMO';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/UrbanJungleDEMO.woff') format('woff');
}

@font-face {
	font-family: 'Xolonium-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Xolonium-Regular.woff') format('woff');
}

@font-face {
	font-family: 'ArchivoBlack-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/ArchivoBlack-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Coustard-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Coustard-Regular.woff') format('woff');
}

@font-face {
	font-family: 'FallingSkyObl';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/FallingSkyObl.woff') format('woff');
}

@font-face {
	font-family: 'Kalam-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Kalam-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Peralta-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Peralta-Regular.woff') format('woff');
}

@font-face {
	font-family: 'VesperLibre-Bold';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/VesperLibre-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Yellowtail-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Yellowtail-Regular.woff') format('woff');
}

@font-face {
	font-family: 'ArchivoNarrow-BoldItalic';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/ArchivoNarrow-BoldItalic.woff') format('woff');
}

@font-face {
	font-family: 'CoveredByYourGrace';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/CoveredByYourGrace.woff') format('woff');
}

@font-face {
	font-family: 'FallingSkyOuObl';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/FallingSkyOuObl.woff') format('woff');
}

@font-face {
	font-family: 'KellySlab-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/KellySlab-Regular.woff') format('woff');
}

@font-face {
	font-family: 'PfefferMediaeval';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/PfefferMediaeval.woff') format('woff');
}

@font-face {
	font-family: 'VesperLibre-Heavy';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/VesperLibre-Heavy.woff') format('woff');
}

@font-face {
	font-family: 'ArchivoNarrow-Bold';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/ArchivoNarrow-Bold.woff') format('woff');
}

@font-face {
	font-family: 'CreteRound-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/CreteRound-Regular.woff') format('woff');
}

@font-face {
	font-family: 'FallingSkyOu';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/FallingSkyOu.woff') format('woff');
}

@font-face {
	font-family: 'KGHAPPYShadows';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/KGHAPPYShadows.woff') format('woff');
}

@font-face {
	font-family: 'PfefferSGhalbfett';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/PfefferSGhalbfett.woff') format('woff');
}

@font-face {
	font-family: 'VesperLibre-Medium';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/VesperLibre-Medium.woff') format('woff');
}

@font-face {
	font-family: 'ArchivoNarrow-Italic';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/ArchivoNarrow-Italic.woff') format('woff');
}

@font-face {
	font-family: 'CroissantOne-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/CroissantOne-Regular.woff') format('woff');
}

@font-face {
	font-family: 'FallingSkySeBdObl';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/FallingSkySeBdObl.woff') format('woff');
}

@font-face {
	font-family: 'KGHAPPYSolid';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/KGHAPPYSolid.woff') format('woff');
}

@font-face {
	font-family: 'PfefferSimpelgotisch';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/PfefferSimpelgotisch') format('woff');
}

@font-face {
	font-family: 'fett';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/fett.woff') format('woff');
}

@font-face {
	font-family: 'VesperLibre-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/VesperLibre-Regular.woff') format('woff');
}

.gwt-Tree .gwt-TreeItem-selected {
	background: none repeat scroll 0 0 #D9EE7B !important;
	display: inline-block !important;
}

.gwt-Tree .gwt-Label {
	cursor: pointer;
}

.site-rect {
	border: thin #7ba5d5 solid;
	padding: 5px;
	background: #A5CF68;
}

.site-splash {
	position: absolute;
	width: 100%;
	height: 100%;
	right: 0;
	bottom: 0;
	top: 0;
	left: 0;
	z-index: 10000;
	opacity: .9;
	background-color: black;
	/* 	display: none; */
}

.site-loginform {
	padding: 20px 40px;
}

#site-loginbutton {
	font-size: larger !important;
}

.site-box {
	background-color: #F3EDED;
	border: 1px solid #BCBCBC;
	cursor: pointer;
	overflow: hidden;
	font-size: 14px;
	padding: 2px 4px;
}

.site-face {
	background-color: #3B5998;
	font-weight: bold;
	color: white;
	font-size: 1.2em !important;
	border: none !important;
	border-radius: 4px;
}

.site-face:hover {
	cursor: pointer;
	background-image: linear-gradient(to bottom, #2A519E, #5773AD);
}

.fancy {
	position: relative;
	padding: 18px 0;
	font-size: 12px;
	font-family: arial;
}

.fancy span:before {
	left: 0;
}

.fancy span:before, .fancy span:after {
	content: "";
	position: absolute;
	height: 1px;
	border-top: 1px solid #dddddd;
	top: 21px;
	width: 130px;
}

.fancy span:after {
	right: 0;
}